#hình {
    align-items: center;
    padding: auto;
    position: relative;
    top: 30px;
    height: 300px;
    width: 300px;
}

#T {
    position: relative;
    top: 60px;
    font-weight: bold;
    font-size: 25px;
}

#Button1 {
    align-items: center;
    font-weight: bold;
    position: relative;
    top: 60px;
}

#Button2 {
    align-items: center;
    border: 1px solid;
    font-weight: bold;
    position: relative;
    top: 60px;
}