#hình{
    align-items: center;
    height: 300px;
    padding: auto;
    position: relative;
    top: 80px;
    width: 300px;
}
#T{
    position: fixed;
    top: 400px;
    font-weight: bold;
}
#Button1{
    align-items: center;
    position: relative;
    top: 120px;
    font-weight: bold;
}
#Button2{
    align-items: center;
    position: relative;
    top: 120px;
    border: 1px solid;
    font-weight: bold;
}