#hình{
    align-items: center;
    height: 300px;
    padding: auto;
    position: relative;
    top: 40px;
    width: 300px;
}
#T{
    position: fixed;
    top: 360px;
    font-weight: bold;
    font-size: large;
}
#Tên_sử_dụng1{
    position: relative;
    width: 250px;
    top: 100px;
    height: 35px;
}
#Tên_sử_dụng2{
    position: relative;
    width: 250px;
    top: 110px;
    height: 35px;
}
#Tên_sử_dụng3{
    position: relative;
    width: 250px;
    top: 120px;
    height: 35px;
}
#Button1{
    position: relative;
    top: 120px;
    font-weight: bold;
}
